@import 'src/tokens';

.root {
  width: $fix-left-space;
  overflow-y: auto;
  overflow-x: hidden;
  @include screen(phone) {
    display: none;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: block;
  }
  @include screen(desktopWide) {
    display: block;
  }
}

.fixed {
  max-height: 100vh;
  position: sticky;
  top: 0;
}
