@import 'src/tokens';

.root {
  font-family: -apple-system, sans-serif, $font-primary;
}

.page {
  position: relative;
  display: flex;
}

.mdx {
  padding-top: $space-ll;
  padding-bottom: $space-huge;

  img {
    width: 100%;
  }

  h1 {
    margin-top: $space-ll;
    margin-bottom: $space-ml;
  }
  h2 {
    margin-top: $space-ll;
    margin-bottom: $space-ml;
  }
  h3 {
    margin-top: $space-l;
    margin-bottom: $space-ml;
  }
  h4 {
    margin-top: $space-ml;
    margin-bottom: $space-sm;
  }
  h5 {
    margin-top: $space-ml;
    margin-bottom: $space-sm;
  }
  h6 {
    margin-top: $space-ml;
    margin-bottom: $space-sm;
  }

  p {
    font-family: $font-primary;
    font-weight: $regular;

    &:not(:last-child) {
      margin-bottom: $space-ml;
    }
  }

  strong {
    font-weight: $medium;
  }

  a {
    // color: $brand-secondary-100;
  }

  ul {
    list-style: disc;
    padding-left: $space-ml;
    margin-bottom: $space-ml;
  }

  ol {
    list-style: decimal;
    padding-left: $space-ml;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    margin-bottom: $space-ml;
  }

  li {
    font-family: $font-primary;
    padding-top: $space-s;
    padding-bottom: $space-s;
    padding-left: $space-s;
  }

  p,
  li {
    @include screen(smallPhone) {
      font-size: $body-2;
      line-height: 26px;
    }
    @include screen(phone) {
      font-size: $body-2;
      line-height: 26px;
    }
    @include screen(tablet) {
      font-size: $body-2;
      line-height: 26px;
    }
    @include screen(tabletLandscape) {
      font-size: $body-2;
      line-height: 26px;
    }
    @include screen(desktop) {
      font-size: $body-3;
      line-height: 26px;
    }
    @include screen(desktopWide) {
      font-size: $body-3;
      line-height: 26px;
    }
  }

  blockquote {
    padding: $space-ml;
    position: relative;
    margin-bottom: $space-ml;
    background-color: #f6f8fa;
    border-radius: $radius-xs;

    &::before {
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='Gainsboro' d='M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      position: absolute;
      color: $dark-alpha-40;
      @include screen(smallPhone) {
        top: -12px;
        left: -48px;
        width: 96px;
        height: 96px;
      }
      @include screen(phone) {
        top: 0px;
        left: -32px;
        width: 64px;
        height: 64px;
      }
      @include screen(tablet) {
        top: 0px;
        left: -24px;
        width: 64px;
        height: 64px;
      }
      @include screen(tabletLandscape) {
        top: 0px;
        left: -24px;
        width: 64px;
        height: 64px;
      }
      @include screen(desktop) {
        top: -12px;
        left: -64px;
        width: 96px;
        height: 96px;
      }
      @include screen(desktopWide) {
        top: -12px;
        left: -64px;
        width: 96px;
        height: 96px;
      }
    }
  }

}
