@import 'src/tokens';

.root {
  font-family: -apple-system, sans-serif, $font-primary;
}

.heading {
  // font-family: 'Circular Std', $font-primary;
  font-family: $font-primary;
}

.body {
  font-family: $font-primary;
}

.page {
  position: relative;
  display: flex;
}

.heading1 {
  composes: heading;
  margin-bottom: $space-ll;
}

.heading2 {
  composes: heading;
  margin-top: $space-ll;
  margin-bottom: $space-ml;
}

.heading3 {
  composes: heading;
  margin-top: $space-l;
  margin-bottom: $space-m;
}
.heading4 {
  composes: heading;
  margin-top: $space-l;
  margin-bottom: $space-sm;
}
.heading5 {
  composes: heading;
  margin-top: $space-ml;
  margin-bottom: $space-sm;
}
.heading6 {
  composes: heading;
  margin-top: $space-ml;
  margin-bottom: $space-sm;
}

.paragraph {
  composes: body;
  font-weight: $regular;
  color: $dark-alpha-70;
  font-size: 17px;
  line-height: 1.52;

  &:not(:last-child) {
    margin-bottom: $space-ml;
  }
}

.listItem {
  composes: body;
  padding-top: $space-s;
  padding-bottom: $space-s;
  padding-left: $space-s;
  font-size: 17px;
  line-height: 1.52;
}

.mdx {
  padding-top: $space-ll;
  padding-bottom: $space-huge;

  img {
    width: 100%;
  }

  strong {
    font-weight: $medium;
  }

  a {
    // color: $brand-secondary-100;
  }

  ul {
    list-style: disc;
    padding-left: $space-ml;
    margin-bottom: $space-ml;
  }

  ol {
    list-style: decimal;
    padding-left: $space-ml;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    margin-bottom: $space-ml;
  }

  blockquote {
    padding-top: $space-ml;
    padding-bottom: $space-ml;
    padding-right: $space-ml;
    position: relative;
    margin-bottom: $space-ml;
    background-color: #f6f8fa;
    border-radius: $radius-xs;
    @include screen(smallPhone) {
      padding-left: $space-xl;
    }
    @include screen(phone) {
      padding-left: $space-xl;
    }
    @include screen(tablet) {
      padding-left: $space-xl;
    }
    @include screen(tabletLandscape) {
      padding-left: $space-xl;
    }
    @include screen(desktop) {
      padding-left: $space-xl;
    }
    @include screen(desktopWide) {
      padding-left: $space-xl;
    }

    &::before {
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill-opacity='0.10' d='M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      position: absolute;
      color: $dark-alpha-40;
      @include screen(smallPhone) {
        top: 0px;
        left: 0px;
        width: $space-xl;
        height: $space-xl;
      }
      @include screen(phone) {
        top: 0px;
        left: 0px;
        width: $space-xl;
        height: $space-xl;
      }
      @include screen(tablet) {
        top: 0px;
        left: 0px;
        width: $space-xl;
        height: $space-xl;
      }
      @include screen(tabletLandscape) {
        top: 0px;
        left: 0px;
        width: $space-xl;
        height: $space-xl;
      }
      @include screen(desktop) {
        top: 0px;
        left: 0px;
        width: $space-xl;
        height: $space-xl;
      }
      @include screen(desktopWide) {
        top: 0px;
        left: 0px;
        width: $space-xl;
        height: $space-xl;
      }
    }
  }

}
